* {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: white;
  background-color: black;
}

.btn {
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-shadow: black 1px 1px 2px;
  cursor: pointer;
  font-size: 1rem;
  padding: 6px 16px;
  background-color: black;
  color: white;
}

.btn.red {
  background-color: crimson;
  color: white;
}
.btn.blue {
  background-color: navy;
  color: white;
}
.btn.yellow {
  background-color: yellow;
  color: black;
}
.btn.green {
  background-color: forestgreen;
  color: white;
}
.btn.grey {
  background-color: slategrey;
  color: white;
}
.btn.purple {
  background-color: slateblue;
  color: white;
}
.btn.white {
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: white;
  color: black;
}
.btn.white:hover {
  background-color: black;
  color: white;
}

.h-100 {
  height: 100vh;
}

.h-80 {
  height: 80vh;
}

.w-100 {
  width: 100vw;
}

.w-80 {
  width: 80vw;
}

.m-1 {
  margin: 1rem 1rem;
}

.m-5 {
  margin: 0.5rem 0.5rem;
}

.w-100px {
  width: 100px;
}

.bg-test {
  background-color: crimson;
}

.color-test {
  background: linear-gradient(to right, red 0%, purple 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
}

@media only screen and (max-width: 768px) {
  .bg-test {
    background-color: lightgreen;
  }
}

@media only screen and (max-width: 412px) {
  .bg-test {
    background-color: lightblue;
  }
}

/* Notes to myself*/
/* -webkit-user-select: none;
-ms-user-select: none;
user-select: none; */

/* :is(header, main, footer) p:hover {
  color: red;
  cursor: pointer;
} */

/* .img-div {
  filter: drop-shadow(16px 16px 20px red);
  max-width: 40vw;
}
img {
  clip-path: circle(35%);
  filter: drop-shadow(16px 16px 20px red);
  filter: grayscale(90%);
  filter: contrast(150%);
  filter: blur(5px);
} */
